$body: #e5e5e5;
$success: #52c41a;
$accent: #1890ff;
$article: rgba(0, 0, 0, 0.85);
$postText: rgba(0, 0, 0, 0.75);
$tag: rgba(0, 0, 0, 0.5);
$error: #f5222d;
$grey8: #595959;
$grey7: #8c8c8c;
$grey5: #d9d9d9;
