@import url("https://rsms.me/inter/inter.css");
@import "./colors.scss";
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}
* {
  padding: 0;
  margin: 0;
  border: none;
}
a {
  text-decoration: none;
}
a:active {
  outline: none;
}
a,
button {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: $article;
  background-color: $body;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}
.MuiCircularProgress-root {
  display: block !important;
  margin: 26px auto;
}
.MuiPagination-ul {
  justify-content: center;
}
.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: $accent !important;
  border-radius: 4px !important;
}
.MuiCheckbox-colorPrimary.Mui-checked {
  color: $accent !important;
}
.Container {
  max-width: 941px;
  margin: 0 auto;
  padding-top: 26px;
  margin-bottom: 26px;
  @media all and (max-width: 1000px) {
    & {
      max-width: 90%;
    }
  }
}
.Profile-Contaier {
  padding: 48px 36.5px;
  margin: 59px auto;
  background: #ffffff;
  border: 1px solid $grey5;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07),
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  width: 384px;
}
.CircularProgress__Wrapper {
  width: 100%;
  position: fixed;
  z-index: 9;
  opacity: 0.5;
  height: 100vh;
  display: flex;
  align-items: center;
  top: 0;
  background-color: white;
}
